---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import SideWordMark from "../components/SideWordMark.astro";
import SocialLinks from "../components/SocialLinks.astro";
import HeaderImg from "../components/HeaderImg.astro";
---

<Layout>
	<section class="logo-wrapper">
		<img
			class="logo"
			src="/images/logos/alleycat-5-orange.png"
			alt="steel city alleycat 5 logo"
		/>
	</section>
	<SideWordMark />
	<Nav />
	<div class="header-wrapper">
		<section>
			<div class="blackout">
				<div class="orange">
					<p class="p1">Sunday</p>
					<p class="p2">September 7</p>
				</div>
				<div class="white">
					<p class="p4">Noon</p>
					<p class="p3">Durand Park</p>
				</div>
				<div class="orange inline">
					<p class="p5">Free entry</p>
					<p class="p6">Not Sponsored</p>
					<p class="p7">All are welcome</p>
				</div>
			</div>
		</section>
	</div>
	<section>
		<p class="bodyText">
			We're back in the streets of Hamilton for the 5th edition of the
			STEEL CITY ALLEYCAT.
		</p>

		<p class="bodyText">
			Same as the last race:
			<ul class="bodyText">
				<li>Start Line at Durand Park</li>
				<li>Paper manifest</li>
				<li>4 new checkpoints</li>
				<li>Unknown finish line when you start the race</li>
				<li>No set route</li>
			</ul>
		</p>

		<HeaderImg
			header="Just Show Up"
			id="just-show-up"
			imgUrl="/images/all-are-welcome.jpg"
		/>
		<p class="bodyText">You don't have to sign up.</p>
		<p class="bodyText">
			Just show up to Durand Park for NOON on Sunday September 7th ready
			to ride
		</p>
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d998.1980836424308!2d-79.87631785902445!3d43.25016315686084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882c9b75e9a28ce3%3A0x30b923337a46f93c!2sDurand%20Park!5e0!3m2!1sen!2sca!4v1715886885647!5m2!1sen!2sca"
			style="border: 0"
			allowfullscreen=""
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
		<HeaderImg
			header="Then what?"
			id="what"
			imgUrl="/images/all-are-welcome.jpg"
		/>
		<ol class="bodyText">
			<li>Put your bike on one side of the park.</li>
			<li>A paper manifest gets attached to your bike.</li>
			<li>Line up on the other side of the park.</li>
			<li>
				When I say go, run to your bike, open the manifest, and ride
				like hell.
			</li>
		</ol>
		<HeaderImg
			header="manifest?"
			id="manifest"
			imgUrl="/images/all-are-welcome.jpg"
		/>
		<div class="manifest-wrapper">
			<div class="front">
				<h3>FRONT</h3>
				<img
					src="/images/manifest-front.jpg"
					alt="the front of the manifest"
				/>
			</div>
			<div class="back">
				<h3>BACK</h3>
				<img
					src="/images/manifest-back.jpg"
					alt="the back of the manifest"
				/>
			</div>
			<strong>Find out what's inside on race day</strong>
		</div>
		<ul class="bodyText">
			<li>
				The manifest will have list of 4 checkpoints. For example:
				BANDSHELL
			</li>
			<li>Go to that checkpoint location</li>
			<li>
				Find the race marker with the code at the checkpoint
				<img src="/images/test-code.png" />
			</li>

			<li>Write the code in the manifest</li>
			<li>There will be a puzzle to find where the finish line is</li>
			<li>
				There may be some other fuckery in the manifest to keep it
				interesting
			</li>
			<li>
				First one to arrive at the finish with a <em>completed</em> manifest
				wins.
			</li>
			<li>
				When you get to the finish line, find me and I'll record your
				rider name, number, and finish time.
			</li>
			<li>Stick around for spoke cards, t-shirts, and vibes</li>
		</ul>
		<HeaderImg
			header="The course"
			id="the-course"
			imgUrl="/images/all-are-welcome.jpg"
		/>
		<p class="bodyText">
			Race bounds are west of Ottawa St, east of Durand St and down The
			Mountain.
		</p>
		<a href="https://www.google.com/maps/d/u/1/edit?mid=1XVJPi64dVQhSAbHXEsv-MpepZ1wqfi8&amp;usp=sharing" target="_blank">
                <img src="/images/race-bounds.png" alt="a map showing the race bounds">
              </a>
		<HeaderImg
			header="Prizes"
			id="Prizes"
			imgUrl="/images/all-are-welcome.jpg"
		/>
		<p class="bodyText">
			Spoke cards for 1st, 2nd, and 3rd place. Dead Fucking Last gets
			something special as well.
		</p>
		<p class="bodyText">
			T-shirts and stickers for the raddest riders. In the past, people
			have gotten t-shirts for:
		</p>
		<ul class="bodyText">
			<li>Shittiest bike</li>
			<li>Biggest breakfast</li>
			<li>Doing the race on thier wedding aniversary</li>
			<li>Most hungover</li>
			<li>Best socks</li>
			<li>Biggest group</li>
			<li>Sickest handlebars</li>
			<li>Furthest travelled</li>
			<li>Best rider/team name</li>
			<li>And whatever else I feel like that day</li>
		</ul>
		<HeaderImg
			header="The rules"
			id="the-rules"
			imgUrl="/images/all-are-welcome.jpg"
		/>
		<ol class="bodyText">
			<li>Ride safe</li>
			<li>Have fun</li>
			<li>
				Friendly competition only. The prize is a fucking piece of
				paper, so relax.
			</li>
			<li>Ride anything you want</li>
			<li>
				No sharing clues/checkpoints. You can ride as a team, but you
				can't split up. I'll know.
			</li>
			<li>Ride safe.</li>
		</ol>
		<HeaderImg header="FAQ" id="FAQ" imgUrl="/images/all-are-welcome.jpg" />
		<ul class="faq bodyText">
			<li>
				<details>
					<summary
						>What if I showed up late to the start line?</summary
					>
					<p>Too bad, I'm not sticking around.</p>
				</details>
			</li>
			<li>
				<details>
					<summary>Do I have to do the checkpoints in order?</summary>
					<p>No.</p>
				</details>
			</li>
			<li>
				<details>
					<summary>What do I need to bring?</summary>
					<div>
						<ul>
							<li>
								A pen or pencil (I may have some golf pencils,
								but don't count on it)
							</li>
							<li>Something fast to ride</li>
							<li>Good mood</li>
							<li>Bad attitude</li>
						</ul>
					</div>
				</details>
			</li>
			<li>
				<details>
					<summary>
						I can't make the race, but I still want a t shirt, can I
						buy one from you?
					</summary>
					<p>No.</p>
				</details>
			</li>
			<li>
				<details>
					<summary>What if I can't find the marker at the checkpoint?</summary>
					<p>Look harder.</p>
					<p>
						If you think it’s actually missing or covered, DM me on
						<a
							href="https://www.instagram.com/steelcityalleycat/"
							target="_blank">instagram</a
						>
						or email me at
						<a href="mailto:info@steelcityalleycat.com"
							>info@steelcityalleycat.com</a
						>.
					</p>
				</details>
			</li>
			<li>
				<details>
					<summary>
						I don't live in Hamilton, am I going to be able to
						figure this out?
					</summary>
					<p>
						Yea for sure, the checkpoints aren't that hard to figure
						out, you can just Google them. Or make a friend at the
						start line.
					</p>
				</details>
			</li>
			<li>
				<details>
					<summary>
						Can I give you money? (somebody has asked me this
						before).
					</summary>
					<p>No. Give it to your local food bank.</p>
				</details>
			</li>
			<li>
				<details>
					<summary>Who’s behind all this?</summary>
					<p>
						My name is AL. You can contact me at
						<a href="mailto:al@steelcityalleycat.com"
							>AL@steelcityalleycat.com</a
						>
						or on
						<a
							href="https://www.instagram.com/steelcityalleycat/"
							target="_blank"
						>
							instagram</a
						>.
					</p>
				</details>
			</li>
		</ul>
	</section>
</Layout>
<SocialLinks />

<style>
	.logo-wrapper {
		height: 50svh;
		/* height: 100%; */
		/* min-width: 301px; */
		display: grid;
		place-items: center;
		padding: 2rem;
	}
	.logo-wrapper img {
		/* height: 100%; */
		max-width: 700px;
		/* max-width: 850px; */
	}
	.blackout {
		background-image: url("/images/results.jpg");
		background-size: cover;
	}
	.blackout div {
		padding: 1rem;
		mix-blend-mode: hard-light;
	}
	.blackout .orange {
		background-color: var(--highlight);
	}
	.blackout .orange.inline {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.blackout .white {
		background-color: var(--text);
	}
	.p1 {
		/* font-size: 6.9rem; */
		font-size: clamp(6rem, 15vw, 16rem);
	}
	.p2 {
		/* font-size: 4.2rem; */
		font-size: clamp(4rem, 12vw, 16rem);
	}
	.p3 {
		/* font-size: 3.9rem; */
		font-size: clamp(3.9rem, 10vw, 14rem);
	}
	.p4 {
		/* font-size: 6.4rem; */
		font-size: clamp(6.4rem, 15vw, 17rem);
	}
	.p5 {
		/* font-size: 3.8rem; */
		font-size: clamp(3.8rem, 2vw, 12rem);
	}
	.p6 {
		/* font-size: 3.8rem; */
		font-size: clamp(3.8rem, 2vw, 12rem);
	}
	.p7 {
		/* font-size: 3.8rem; */
		font-size: clamp(3.8rem, 2vw, 12rem);
	}
	.blackout p {
		text-align: center;
		font-family: "blackout_midnight";
		color: var(--background-color);
		line-height: 1;
		margin: 0;
	}
	iframe{
		width: 100%;
		min-height: 40rem;
	}
	.manifest-wrapper {
		display: flex;
		position: relative;
		background-color: var(--highlight);
	}
	.manifest-wrapper h3,
	.manifest-wrapper strong {
		color: var(--highlight);
		font-family: "blackout_midnight";
		z-index: 9;
	}
	.manifest-wrapper strong {
		position: absolute;
		font-size: 3.5rem;
		bottom: 1rem;
		width: 100%;
		text-align: center;
	}
	.manifest-wrapper .front,
	.manifest-wrapper .back {
		position: relative;
	}
	.manifest-wrapper h3 {
		text-align: center;
		position: absolute;
		width: 100%;
		top: 1rem;
		font-size: 6rem;
	}
	.manifest-wrapper img {
		height: 100%;
		/* mix-blend-mode: darken; */
	}
	ul.faq > li {
		list-style: none;
	}
	ul.faq summary {
		cursor: pointer;
		font-weight: 900;
	}
</style>
