---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="sections">
        <section>
            <div class="header-wrapper" id="what">
                <img
                    class="img"
                    src="https://steelcityalleycat.com/images/headers/all-are-welcome.jpg"
                />
                <h2>Alleycat?</h2>
            </div>
            <p class="body-text">
                An <a
                    href="https://en.wikipedia.org/wiki/Alleycat_race"
                    target="_blank">Alleycat</a
                > is an unsanctioned bike race with multiple checkpoints and no set
                route. The Steel City Alleycat is a small part of a much bigger history
                of urban cycling. The history of Alleycat races started in Toronto
                in the late '80s and has since expanded world-wide. Originally, it
                was a way for bike messengers to see who's the fastest. The race
                mirrors the job of a bike messenger: in a city, no set route, several
                locations, and get there fast. There's a documentary on YouTube called
                <a
                    href="https://www.youtube.com/watch?v=fgTKIBFpVdE"
                    target="blank">First Cats</a
                > that talks about the Alleycat's chaotic origins.
            </p>
            <p class="body-text">
                <strong>The Steel City Alleycat</strong> has 4 checkpoints and an
                unknown finish line when you start the race. Each checkpoint will
                give you information about where the finish line is. Everything you
                need to know about upcoming races <a href="/results#results"
                    >and past results</a
                > will be on this site.
            </p>
        </section>
        <section>
            <div class="header-wrapper" id="all-are-welcome">
                <img
                    class="img"
                    src="https://steelcityalleycat.com/images/headers/what.jpg"
                />
                <h2>All are welcome</h2>
            </div>
            <p class="body-text">
                Traditionally, alleycat bike races are done on fixed gear bikes;
                since they were the preference of bike messengers. I'm not going
                to police what you ride. In the past we've had e-bikes, multiple
                tandem bikes, kid-trailers, recumbent bikes, SoBis, dogs, big
                teams, elite-level bikes, and dumpster-ready-shit-boxes. There
                has been riders from less than a year old to over 70 years old.
            </p>
        </section>
        <section>
            <div class="header-wrapper" id="anonymous">
                <img
                    class="img"
                    src="https://steelcityalleycat.com/images/headers/anonymous.jpg"
                />
                <h2>Anonymous</h2>
            </div>
            <p class="body-text">
                Just show up. You don't have to sign up for this race. I don't
                care who you are. I'll never ask for your email address, phone
                number, or real name.
            </p>
        </section>
        <section>
            <div class="header-wrapper" id="not-sponsored">
                <img
                    class="img"
                    src="https://steelcityalleycat.com/images/headers/not-sponsored.jpg"
                />
                <h2>Free &amp; Not Sponsored</h2>
            </div>
            <p class="body-text">
                Steel City Alleycat will always be a free ride. This race is a
                love letter to Hamilton's growing bike lanes and cycling
                community. At the finish line I give out t-shirts for the
                raddest riders. People have gotten t-shirts for:
            </p>
            <ul>
                <li>Shittiest bike</li>
                <li>Biggest breakfast</li>
                <li>On a date</li>
                <li>Most hungover</li>
                <li>Best socks</li>
                <li>Biggest group</li>
                <li>Furthest travelled</li>
                <li><a href="/results#results">Best rider name</a></li>
                <li>And whatever else I feel like that day</li>
            </ul>
        </section>
        <section>
            <div class="header-wrapper" id="shout-out">
                <img
                    class="img"
                    src="https://steelcityalleycat.com/images/headers/shout-out.jpg"
                />
                <h2>Shout out</h2>
            </div>
            <p class="body-text">
                My name is AL. <br />
                You can contact me at
                <a href="mailto:AL@steelcityalleycat.com"
                    >AL@steelcitycalleycat.com</a
                > or on <a
                    href="https://instagram.com/steelcityalleycat"
                    target="_blank">Instagram</a
                >. I don't check facebook.
            </p>
        </section>
    </div>
</Layout>
