<div class="r">
    <h1>Steel city alleycat 5</h1>
</div>
<style>
	.r {
		position: sticky;
		top: 0;
        z-index: 0;
		transform: rotate(-90deg) translate(-100vh, 0rem);
		transform-origin: top left;
		pointer-events: none;
	}
	h1 {
		font-family: "blackout_sunrise", "Impact", Arial;
        opacity: 0.2;
        color: var(--highlight);
		font-size: clamp(0.25rem, 8.8vh, 10rem);
		white-space: nowrap;
		text-align: center;
		width: 100vh;
	}
</style>
