<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>STEEL CITY ALLEYCAT 5</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
	:root {
		--text: #262222;
		--background-color: #f9f8f7;
		--highlight: #dd6305;
		--max-width: 120rem;
		--background-color-2: color-mix(
			in hsl,
			var(--background-color),
			black 25%
		);
		--background: linear-gradient(
			150deg,
			var(--background-color),
			var(--background-color-2) /* var(--background-color) */
		);
		font-size: 62.5%;
		box-sizing: border-box;
		@media (prefers-color-scheme: dark) {
			--text: #f9f8f7;
			--background-color: #262222;
		}
	}
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
	*::selection {
		background: var(--highlight);
		color: var(--text);
	}
	@font-face {
		font-family: "blackout_midnight";
		src:
			url("public/fonts/blackout_midnight-webfont.woff2") format("woff2"),
			url("blackout_midnight-webfont.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "blackout_2am";
		src:
			url("/public/fonts/blackout_two_am-webfont.woff2") format("woff2"),
			url("blackout_sunrise-webfont.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "blackout_sunrise";
		src:
			url("/public/fonts/blackout_sunrise-webfont.woff2") format("woff2"),
			url("blackout_sunrise-webfont.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	}
	body,
	html {
		color: var(--text);
		font-size: 2rem;
		font-family: "Catamaran", sans-serif;
		font-optical-sizing: auto;
		margin: 0;
		padding: 0;
		font-weight: 700;
		font-style: normal;
		background: black;
	}

	img {
		width: 100%;
	}
	a {
		background: var(--text);
		color: var(--background-color);
		text-decoration: none;
	}
	a:hover {
		color: var(--text);
		background: var(--background-color-2);
	}
	h1,
	h2 {
		margin: 0;
		padding: 0;
		color: var(--text);
	}
	main {
		background: var(--background);
		background-size: 100%;
		background-attachment: fixed;
		margin: 0 auto;
		position: relative;
		max-width: var(--max-width);
		z-index: 1;
	}
	.bodyText {
		max-width: calc(var(--max-width) / 2);
		/* margin-block: 1lh; */
		margin: 1lh auto;
		padding: 0 1rem;
		line-height: 1.5;
		hyphenate-limit-chars: 7;
		hyphens: auto;
		text-align: justify;
		text-wrap: pretty;
	}
</style>
